/**
 * style.css
 * contains the main styling for the generator
**/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*----General----*/
html, body {
    min-height: 100vh;
    overflow: hidden;
}

body {
    padding: 6rem 0rem;

    font-family: 'Montserrat', sans-serif;
    text-align: center;
}

h1 {
    text-decoration: line-through;
    font-size: 3rem;
}

h3, label, button {
    font-weight: 500;
}

h3 {
    font-size: 1.5rem;
}

p {
    text-align: left;
    font-size: 1.125rem;
}

label, input {
    font-size: 1.125rem;
}

input {
    cursor: pointer;
}

button {
    padding: 1rem 1.5rem;
    margin: auto 1.5rem;

    font-size: 1.5rem;
    background: transparent;
    border: 0.2rem solid #000;

    cursor: pointer;
}

/*----Text Generation Area----*/
.container {
    width: 50%;
    height: 25rem;
    margin: 3rem auto;
    padding: 2rem 3rem;

    border: 0.2rem solid #000;
    border-radius: 0rem 2rem;
}

/*----Input/Form----*/
.form_container {
    margin: 2.5rem auto;
}

.form_paragraphs {
    display: block;
    margin: 1rem auto;
}

.form_paragraphs label, .form_paragraphs input {
    margin: auto 2rem;
    padding: 0.8rem 1.5rem;

    border: 0.2rem solid #000;
    box-shadow: 0.3125rem 0.25rem #000;
}

.form_paragraphs input {
    width: 7rem;
    padding: 0.8rem 0.8rem 0.8rem 2.6rem;
}

.form_paragraphs input:hover {
    box-shadow: none;
    transition: 0.4s;
}

.form_long, .form_medium, .form_short {
    display: inline-block;
    margin: 1rem 1rem 2rem;
}

/*----Buttons----*/
.button_copy {
    background-color: #000;
    color: #fff;
}